﻿
#seite
{
	background-color:black;
	width:auto;
	
	margin-left:auto;
	margin-right:auto;
	
	padding:10px 10px 10px 10px;

	
}

#main
{
	background-color:#6699FF;
	
	height:900px;
	margin-left:auto;
	margin-right:auto;
}

#berechnung
{
	background-color:#333333;
	margin-left:auto;
	margin-right:auto;
	width:800px;
	height:800px;
	
}
#formberechnung

{	
	
	font-size:large;
	color:white;	
}
#formberechnung input
{
	border:medium #3366FF dashed; 
}

#ausgabe
{
	color:white;
	width:100px;
	height:20px;
}

#tabelle
{
	background-color:#999999;
	width:700px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	padding:10px 10px 10px 10px;
}
.BMI
{
	background-color:#9900CC;
}
.Richtwerte
{
	background-color:#9900CC;
}
#Angaben
{
	color:navy;
	background-color:#FFFF99;
}
